/* Custom color theme properties */
:root {
  --f7-theme-color: #90908e;
  --f7-theme-color-rgb: 243, 219, 179;
  --f7-theme-color-shade: #605e5c;
  --f7-theme-color-tint: #f9ecd6;

  --f7-navbar-height: 100px
}

.color-light
  color: #ebd9b2
.color-text-white
  color: #e7e5e4
.color-text-grey
  color: #333333
.color-text-grey2
  color: #605e5c
.back-color-grey
  background-color #333333

*
  font-family: 'Roboto', sans-serif

@import 'home.styl'
/* Your app custom styles here */