/* Custom color theme properties */
:root {
  --f7-theme-color: #90908e;
  --f7-theme-color-rgb: 243, 219, 179;
  --f7-theme-color-shade: #605e5c;
  --f7-theme-color-tint: #f9ecd6;

  --f7-navbar-height: 100px
}

.color-light
  color: #ebd9b2
.color-text-white
  color: #e7e5e4
.color-text-grey
  color: #333333
.color-text-grey2
  color: #605e5c
.back-color-grey
  background-color #333333

*
  font-family: 'Roboto', sans-serif

html
  scroll-behavior smooth

@import 'home.styl'
/* Your app custom styles here */
#app
  #zoom-toggle
    display none
    position absolute !important
    cursor pointer
    top 50%
    right 0
    // width 100px
    // height 100px
    z-index 12000
    padding 10px
    background-color #333333
    .zoom-in
      padding-bottom 10px
    // .zoom-out
    //   display none
    span
      padding-right 10px
      display block

      // width 100%
      // height 100%
      font-size 50px
      color #605e5c
    &.active
      display block
    &.zoomed
      // .zoom-in
      //   display none
      // .zoom-out
      //   display block