/* Custom color theme properties */
:root {
  --f7-theme-color: #f3dbb3;
  --f7-theme-color-rgb: 243, 219, 179;
  --f7-theme-color-shade: #edca90;
  --f7-theme-color-tint: #f9ecd6;
}

/* Your app custom styles here */