#home
    .trans-navbar
        .navbar-bg
            background: transparent
            &:before
                display none
            &:after
                display none
        .right
            
            .link
                text-transform uppercase
                font-weight 700
                font-size 18px
                color: #333333
                opacity: 0.5
                line-height 1
    .page-content
        padding-top 0

        .section
            .block-title
                margin-top 0
                font-weight 700
                font-size 32px
                line-height 1
            p.descripcion
                font-size 24px
            .img-100
                width 100%
                height auto
            .margin-20
                margin-top 20px
                margin-bottom 20px
            .margin-top-120
                margin-top 120px
            .spacer
                height: 100px
            .spacer35
                height: 15px
            .skew
                padding 200px 0
                transform skew(0deg, -10deg)
                margin-top -200px
            p.texto
                font-size 18px

        
        .section-splash
            background-repeat: no-repeat
            background-position 50% 0
            background-size cover
            .block
                margin-top 0
                margin-bottom 0
                min-height: 900px
        .section-features
            .bg
                position absolute
                height 200px
                width 100%
        .section-gallery
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        img
                            width 100%
                            height auto
        .section-contact
            background-color #d3d1ce
            padding-bottom 32px
            .address
                font-size 18px
                font-weight 700
                line-height 1
            #contact-form
                ul
                    &:after
                        display none
                    &:before
                        display none
                    background transparent
                    input, textarea
                        background-color #fff
        #map
            width 100%
            height: 400px
        
        .footer
            padding-top 32px
            padding-bottom 32px
            background-color #333
            a.link
                display inline-block
        
            
        

